#DataTable {
    height: 785px;
    /* background-color: blueviolet; */
}
.ant-table-tbody {
    font-size: 12px;
    padding: 2px;
    /* background-color: blueviolet; */
}
.ant-table-row {
    line-height: 10px;
    /* background-color: blueviolet; */
}